* {
    margin: 0;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20vh 60vh 20vh;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    grid-column: span 12;
    background: pink;
}

.menu {
    grid-column: span 4;
    background: purple;
}

.content {
    grid-column: span 8;
    background: rgb(230, 23, 74);
}

.footer {
    grid-column: span 12;
    background: rgb(115, 179, 240);
}